@charset "UTF-8";
/*Importacion de variables*/
/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
/*Reset basico*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
/* Contenedor Header estándar */
.main__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 144px;
  background-color: #F5EEE8;
  /* Barra de navegación */
  /* Contenedor logo */
  /* Contenedor usuario y barra de búsqueda */
}
.main__header .header__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 16px 0;
  position: relative;
}
.main__header .header__navbar .nav__container {
  display: flex;
  flex-grow: 1;
  /* Links del Menú */
}
.main__header .header__navbar .nav__container .header__nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  /* Lista desordenada */
}
.main__header .header__navbar .nav__container .header__nav-list .header__nav-list-item {
  flex: 1 1 0;
  list-style: none;
  text-align: center;
  /* Links */
}
.main__header .header__navbar .nav__container .header__nav-list .header__nav-list-item .header__nav-link {
  display: block;
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #25282A;
  /* Transiciones */
}
.main__header .header__navbar .nav__container .header__nav-list .header__nav-list-item .header__nav-link:after {
  content: "";
  position: absolute;
  background-color: #25282A;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.3s;
}
.main__header .header__navbar .nav__container .header__nav-list .header__nav-list-item .header__nav-link:hover:after {
  width: 100%;
}
.main__header .header__logo {
  display: flex;
  justify-content: center;
  margin: 0 24px;
}
.main__header .header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  /* Contenedor iconos de usuario y carrito de compras */
}
.main__header .header__search .header__user-items {
  display: flex;
  flex-direction: row;
}
.main__header .header__search .header__user-items .material-symbols-outlined {
  color: #25282A;
}

/* Header HOME, archivo index.html */
.header--home {
  background-image: url(../aseets/imagenes/home/background.png);
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 784px;
  margin-bottom: 56px;
}
.header--home .nav-bar--home .toggle--home {
  color: #FFFCF2;
}
.header--home .nav-bar--home .header__nav--home .nav-list--home .nav-list-item--home .nav-link--home {
  color: #FFFCF2;
  /* Transiciones */
}
.header--home .nav-bar--home .header__nav--home .nav-list--home .nav-list-item--home .nav-link--home:after {
  content: "";
  background-color: #FFFCF2;
}
.header--home .header__search {
  /* Contenedor iconos de usuario y carrito de compras */
}
.header--home .header__search .search-container {
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
}
.header--home .header__search .search-container i {
  font-size: 1.25rem;
  color: #FFFCF2;
}
.header--home .header__search .search-container input {
  color: #FFFCF2;
  font-size: 1rem;
}
.header--home .header__search .search-container input:focus {
  outline: none;
}
.header--home .header__search .search-container input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #FFFCF2;
}
.header--home .header__search .header__user-icon .material-symbols-outlined {
  color: #FFFCF2;
}
.header--home .header__search .header__user-items span {
  color: #FFFCF2;
}

.main___container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: #F5EEE8;
}

/*Estilo estandar de contenedores*/
.content__container {
  padding: 0 144px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper {
  display: flex;
  /**/
}
.wrapper .product-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 32px;
}
.wrapper .product-list .product-list__item {
  padding-right: 16px;
}
.wrapper .product-list .product-list__item .product-list__title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.wrapper .product-list .product-list__item .product-list__subtitle {
  font-size: 1rem;
  margin: 8px 0px;
}
.wrapper .product-list .product-list__item .product-list__list {
  list-style: none;
  cursor: pointer;
  padding: 4px 16px;
}
.wrapper .product-list .product-list__item .product-list__list .product-list__list-item {
  color: #686565;
  padding: 2px 0px;
}
.wrapper .product-list .product-list__item .product-list__list .product-list__item:hover {
  color: #25282A;
}
.wrapper .menu-categories {
  width: 100%;
  gap: 24px;
}
.wrapper .menu-categories .category__list {
  margin: 32px 0;
  border-radius: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.wrapper .menu-categories .category__list .category__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
  padding: 24px;
}
.wrapper .menu-categories .category__list .category__item .category__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  height: 180px;
  width: 180px;
}
.wrapper .menu-categories .category__list .category__item .category__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.wrapper .menu-categories .category__list .category__item .category__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.wrapper .menu-categories .category__list .category__item .category__details .catagory__detailes-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.wrapper .menu-categories .category__list .category__item .category__details .catagory__detailes-group .category__details-title {
  font-size: 1rem;
}
.wrapper .menu-categories .category__list .category__item .category__details .catagory__detailes-group .category__details-price {
  font-size: 1rem;
  font-weight: 600;
}
.wrapper .menu-categories .category__list .category__item .category__details .category__description {
  color: #686565;
  font-size: 1rem;
  line-height: 120%;
  min-height: 96px;
}

.register {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  gap: 16px;
  width: 100%;
  /*padding: 56px 80px;*/
}
.register .register__divider {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #25282A;
}
.register .register__title {
  font-size: 3rem;
  text-transform: uppercase;
}
.register .register__text {
  font-size: 1.5rem;
}
.register .register__button {
  display: flex;
  align-items: center;
  width: 90%;
}

.title__container .title__text {
  font-family: "Orelega One", serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -2px;
  text-align: center;
  line-height: 90%;
  margin-top: 56px;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.info__container .item__container {
  flex: 1;
  max-width: 50%;
}
.info__container .item__container--primary img {
  width: 100%;
  height: 504px;
  border-radius: 32px;
  object-fit: cover;
}
.info__container .item__container--secondary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  padding-top: 32px;
}
.info__container .item__container--secondary p {
  line-height: 150%;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.grid__container .grid-container__item, .grid__container .grid-container__item .grid-container__image {
  width: 100%;
  height: 336px;
}
.grid__container .grid-container__item .grid-container__image {
  object-fit: cover;
  border-radius: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  width: 100%;
  background-color: #F5EEE8;
}
.footer .footer__primary {
  display: flex;
  padding: 0 144px;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 80px;
}
.footer .footer__primary .footer__links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 75%;
}
.footer .footer__primary .footer__links .footer__link-item {
  width: 100%;
}
.footer .footer__primary .footer__links .footer__link-item .footer__title {
  font-size: 1.5rem;
  font-family: "Orelega One", serif;
  font-weight: 400;
  margin-bottom: 48px;
}
.footer .footer__primary .footer__links .footer__link-item .footer__list {
  margin-bottom: 0px;
  padding: 0px;
}
.footer .footer__primary .footer__links .footer__link-item .footer__list .footer__list-item {
  margin: 8px 0;
  list-style: none;
  width: 100%;
}
.footer .footer__primary .footer__links .footer__link-item .footer__list .footer__list-item .footer__link {
  width: 100%;
  color: #25282A;
  text-decoration: none;
  text-transform: uppercase;
}
.footer .footer__primary .footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 25%;
}
.footer .footer__primary .footer__social .footer__social-items {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 0px;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item {
  list-style: none;
  width: 100%;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item .footer__social-link {
  width: 100%;
  color: #25282A;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item i {
  font-size: 2rem;
  color: #25282A;
}
.footer .footer__secondary {
  text-align: center;
  border-top: 2px solid #25282A;
  padding: 24px 0;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
/*Contenedor*/
.banner__container {
  display: inline;
  width: 100%;
  background-color: #FFEB80;
  padding: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 24px 0;
}
.banner__container .text {
  display: inline-block;
  animation: scroll-text 10s linear infinite;
  text-transform: uppercase;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*Banner Galeria de Imagenes*/
.banner-group {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 384px;
  justify-content: space-between;
}
.banner-group .banner-group__item {
  flex: 1;
  width: auto;
  height: 100%;
  object-fit: cover;
}
.banner-group .banner-group__item .banner-group__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Banner Gradiente*/
.banner-gradient {
  height: auto;
  text-align: left;
  padding: 80px 144px;
  background: rgb(255, 235, 128);
  background: linear-gradient(90deg, rgb(255, 235, 128) 0%, rgb(247, 183, 144) 66%, rgb(242, 153, 153) 100%);
}
.banner-gradient .banner-gradient__heading {
  font-size: 3.5rem;
  font-family: "Orelega One", serif;
  font-weight: 400;
  line-height: 90%;
}

.rating__content {
  background-color: #25282A;
  display: flex;
  flex-direction: row;
  padding: 32px 80px;
  gap: 24px;
}
.rating__content .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.rating__content .item .item__image img {
  border: 3px solid #d0d0d0;
  border-radius: 100px;
}
.rating__content .item .item__rating-stars {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 8px;
}
.rating__content .item .item__rating-stars .bx {
  color: #d0d0d0;
  font-size: 1.25rem;
}
.rating__content .item .item__content {
  margin-top: 16px;
}
.rating__content .item .item__content .item__title {
  font-size: 1rem;
  color: #d0d0d0;
}
.rating__content .item .item__content .item__text {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #d0d0d0;
  text-wrap: balance;
}

.area-container-card {
  display: flex;
  flex-direction: column;
}
.area-container-card .card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
}
.area-container-card .card-container .card-container__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.area-container-card .card-container .card-container__item .card-item__image {
  position: relative;
  display: flex;
  height: 296px;
}
.area-container-card .card-container .card-container__item .card-item__image .card-item__img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.area-container-card .card-container .card-container__item .card-item__image .card-item__label {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #FFFCF2;
  color: #25282A;
  padding: 8px;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 400;
}
.area-container-card .card-container .card-container__item .card-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.area-container-card .card-container .card-container__item .card-item__content .card-item__title {
  font-size: 1rem;
  height: 40px;
}
.area-container-card .card-container .card-container__item .card-item__content .card-item__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  max-height: 7.5em;
  margin-top: 16px;
}

.area-container--secondary {
  padding: 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrap__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  overflow: hidden;
  box-sizing: content-box;
}
.wrap__container .item__wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.wrap__container .item__wrap .wrap-item__image {
  position: relative;
  display: inline-block;
  height: 360px;
}
.wrap__container .item__wrap .wrap-item__image .wrap-item__img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}
.wrap__container .item__wrap .wrap-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 32px;
  border-radius: 24px;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(10, 10, 10, 0.973), rgba(102, 102, 102, 0));
}
.wrap__container .item__wrap .wrap-item__content .wrap-item__title {
  color: #FFFCF2;
  font-size: 1.25rem;
}
.wrap__container .item__wrap .wrap-item__content .wrap-item__description {
  margin-top: 16px;
  font-size: 0.875rem;
  color: #FFFCF2;
  line-height: 120%;
}

.container__button {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}
.container__button .btn {
  color: #25282A;
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  border: 2px solid #25282A;
}
.container__button .btn--1, .container__button .btn--2 {
  position: relative;
  overflow: hidden;
  display: flex;
  z-index: 1;
  justify-content: center;
  width: 90%;
  padding: 16px 32px;
  gap: 16px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container__button .btn--1::before, .container__button .btn--2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background-color: #25282A;
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: -1;
}
.container__button .btn--1:hover, .container__button .btn--2:hover {
  color: #FFFCF2;
}
.container__button .btn--1:hover span, .container__button .btn--2:hover span {
  color: #FFFCF2;
}
.container__button .btn--1:hover::before, .container__button .btn--2:hover::before {
  top: 0;
  border-radius: 0%;
}
.container__button .btn--2 {
  position: relative;
  color: #FFFCF2;
  border: 2px solid #fff;
  font-weight: 400;
  white-space: nowrap;
}
.container__button .btn--2::before {
  content: "";
  background-color: #FFFCF2;
}
.container__button .btn--2:hover {
  color: #25282A;
}
.container__button .btn--3 {
  font-size: 1rem;
  justify-content: center;
  text-transform: uppercase;
}
.container__button .btn--3:hover {
  background-color: #25282A;
  color: #FFFCF2;
}

.containner--btn2 {
  align-items: flex-end;
}

.menu-categories__buttons .menu-categories__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}
.menu-categories__buttons .menu-categories__list .menu-categories__list-item {
  width: 100%;
  text-align: center;
  list-style: none;
  border: 2px solid #25282A;
  border-radius: 100px;
  padding: 8px 0;
}
.menu-categories__buttons .menu-categories__list .menu-categories__list-item .menu-categories__link {
  color: #25282A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.button__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.button__actions .category__add {
  width: 100%;
  padding: 6px 0;
  background-color: transparent;
  border: 2px solid #25282A;
  border-radius: 50px;
  font-size: 0.875rem;
  cursor: pointer;
  text-transform: uppercase;
}
.button__actions .category__ad--count {
  width: 100%;
}
.button__actions .category__ad--item {
  width: 32px;
}
.button__actions .category__add:hover {
  background-color: #25282A;
  color: #FFFCF2;
}
.button__actions .category__like {
  cursor: pointer;
  width: 10%;
  border: none;
  background-color: transparent;
}

.container__button--secondary {
  padding-top: 16px;
}

.title-primary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 112px;
  gap: 40px;
}
.title-primary .title-primary__heading {
  font-size: 5rem;
  font-family: "Orelega One", serif;
  color: #FFFCF2;
  line-height: 110%;
  width: 90%;
  font-weight: 400;
  text-align: right;
}

.title__container .title__text {
  font-size: 3.5rem;
}

.title-container__secondary h2 {
  font-size: 3.5rem;
  text-align: center;
}

.title-container__third {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}
.title-container__third .title-container__title {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  padding: 0 8px;
}
.title-container__third .title-container__line {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #25282A;
}

.category__title {
  border-top: 2px solid #25282A;
  border-bottom: 2px solid #25282A;
  padding: 16px;
}
.category__title .category__title-text {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container__services {
  display: flex;
  justify-content: space-between;
  padding: 0 144px;
  gap: 16px;
  /* Elemento de Servicio Individual */
  /* Imagen del Servicio */
  /* Título del Servicio */
  /* Descripción del Servicio */
}
.container__services .services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 100%;
}
.container__services .services__image {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}
.container__services .services__title {
  text-transform: uppercase;
}
.container__services .services__description {
  color: #686565;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .content__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.content .content__info .content__primary, .content .content__info .content__secondary {
  flex: 1;
  max-width: 50%;
}
.content .content__info .content__primary .content__image, .content .content__info .content__secondary .content__image {
  width: 100%;
  height: 504px;
  border-radius: 32px;
  object-fit: cover;
}
.content .content__info .content__secondary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  padding-top: 32px;
}
.content .content__info .content__secondary .content__title {
  font-family: "Orelega One", serif;
  line-height: 90%;
  font-size: 3.5rem;
  font-weight: 400;
}
.content .content__info .content__secondary .content__text {
  line-height: 150%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.contact-container .contact-container__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.contact-container .contact-container__form .form__input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-container .contact-container__form .form__input-group .form__input, .contact-container .contact-container__form .form__input-group .form__textarea {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #25282A;
  padding: 8px;
  background-color: transparent;
}
.contact-container .contact-container__form .form__input-group .form__input:focus, .contact-container .contact-container__form .form__input-group .form__textarea:focus {
  outline: none;
}
.contact-container .contact-container__form .form__input-group .form__textarea {
  padding: 8px;
  min-width: 100%;
  resize: vertical;
  font-family: "Roboto", sans-serif;
}
.contact-container .contact-container__form .form__input-group .form__textarea:focus {
  outline: none;
}
.contact-container .contact-container__form .form__input-group .form__select {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #25282A;
  padding: 8px;
  color: #25282A;
  margin-top: 16px;
}
.contact-container .contact-container__form .form__input-group .form__select:focus {
  outline: none;
}

.products {
  display: flex;
  flex-direction: column;
}
.products .new-products {
  display: flex;
  overflow-x: auto;
  padding-left: 80px;
  gap: 24px;
}
.products .new-products::-webkit-scrollbar {
  height: 12px;
  padding-left: 60px;
}
.products .new-products::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.products .new-products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-width: 280px;
  gap: 16px;
  margin-bottom: 16px;
}
.products .new-products__item-img {
  width: 168px;
  height: 168px;
}
.products .new-products__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}
.products .new-products__item .new-products__item-details {
  padding: 0 16px;
  border-right: 2px solid #25282A;
}
.products .new-products__item .new-products__item-details .new-products__item-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.products .new-products__item .new-products__item-details .new-products__item-price .new-products__item-title, .products .new-products__item .new-products__item-details .new-products__item-price .new-products__item-amount {
  font-weight: 600;
}
.products .new-products__item .new-products__item-details .new-products__item-price-through {
  text-decoration: line-through;
  color: #686565;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.products .new-products__item .new-products__item-details .new-products__item-description {
  margin: 16px 0;
}

.faq-container {
  width: 50%;
}
.faq-container .faq-container__item .faq-container__summary {
  padding: 24px;
  border-bottom: 2px solid #25282A;
}
.faq-container .faq-container__item .faq-container__content {
  color: #686565;
  padding: 32px 0;
}

/* Barra de búsqueda */
.search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 34px;
  border: 2px solid #25282A;
  border-radius: 100px;
  padding: 4px 24px;
  box-sizing: border-box;
  gap: 16px;
}
.search-container i {
  font-size: 1.25rem;
}
.search-container input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #25282A;
  font-size: 1rem;
}
.search-container input:focus {
  outline: none;
}
.search-container input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #686565;
}

/*Icono menu responsive*/
.menu-responsive {
  display: flex;
  height: 116px;
  align-items: center;
}

.toggle_btn {
  color: #25282A;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  max-width: 22px;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0px;
  top: 72px;
  height: 0px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #FFFCF2;
  transition: height 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown__menu .dropdown__menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.dropdown__menu .dropdown__menu-list .dropdown__menu-list-item {
  list-style: none;
  text-align: center;
}
.dropdown__menu .dropdown__menu-list .dropdown__menu-list-item .dropdown__menu-link {
  color: #25282A;
  text-transform: uppercase;
}

.dropdown__menu.open {
  height: 240px;
}

.dropdown--standard {
  top: 116px;
  right: 96px;
}

@media (max-width: 1240px) {
  .main__header,
  .container__services,
  .content__container,
  .banner-gradient,
  .footer__primary {
    padding: 0 120px;
  }
  .banner-gradient {
    padding: 52px 120PX;
  }
  .footer__primary {
    padding-top: 48px;
    margin-bottom: 72px;
  }
  .header--home {
    height: 744px;
  }
  .title-primary {
    margin-top: 136px;
  }
  .title-primary .title-primary__heading {
    font-size: 4.5rem;
    line-height: 100%;
  }
  /*Contenedor de recetas*/
  .area-container-card .card-container .card-item__image {
    height: 160px;
  }
  .content .content__info .content__primary .content__image, .content .content__info .content__secondary .content__image {
    height: 100%;
  }
  .content .content__info .content__secondary {
    padding-top: 0px;
  }
  .contact-container {
    gap: 16px;
  }
}
/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*
$font-size-xxxl: 4rem; //h1(Desktop)
$font-size-xxl: 3rem; //h2 (Desktop)
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem; 
$font-size-m: 1rem; //Parrafos, link (Desktop)
$font-size-s: 0.875rem; 
$font-size-xs: 0.5rem; 
*/
/*Variable Border*/
@media (max-width: 906px) {
  .main__header,
  .container__services,
  .content__container,
  .banner-gradient,
  .footer__primary {
    padding: 0 96px;
  }
  .banner-gradient {
    padding: 52px 96px;
  }
  .footer .footer__primary {
    padding: 0 96px;
    margin-bottom: 32px;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__primary .footer__links {
    width: 100%;
  }
  .footer .footer__primary .footer__social {
    gap: 16px;
    margin-top: 32px;
  }
  .footer .footer__primary .footer__social .footer__social-items .footer__social-list {
    gap: 32px;
  }
  .menu-categories__buttons .menu-categories__list {
    gap: 4px;
  }
  .menu-categories__buttons .menu-categories__list .menu-categories__list-item {
    padding: 4px 0;
  }
  .menu-categories__buttons .menu-categories__list .menu-categories__list-item .menu-categories__link {
    font-size: 0.75rem;
  }
  .main___container {
    gap: 40px;
  }
  .title-primary {
    margin-top: 116px;
  }
  .title-primary .title-primary__heading {
    font-size: 4rem;
    line-height: 90%;
  }
  .main__header .header__navbar {
    justify-content: space-between;
  }
  .main__header .header__navbar .nav__container {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101e;
    transition: 0.5s;
    overflow: hidden;
  }
  .main__header .header__navbar .nav__container.active {
    height: 450px;
  }
  .main__header .header__navbar .nav__container .header__nav-list {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav__container.active .main__header .header__navbar {
    opacity: 1;
  }
  .main__header .header__navbar .header__logo {
    justify-content: flex-start;
    flex-grow: 1;
    width: 160px;
  }
  .main__header .header__navbar .header__search {
    width: 100%;
    flex-grow: 1;
  }
  .main__header .header__navbar .material-symbols-outlined {
    font-size: 2rem;
  }
  .toggle_btn {
    display: block;
    margin-left: 4px;
  }
  .dropdown__menu {
    display: block;
  }
  .header--home {
    height: 704px;
  }
  .header--home .nav-bar--home .header__nav--home {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101e;
    transition: 0.5s;
    overflow: hidden;
  }
  .header--home .nav-bar--home .header__nav--home.active {
    height: 450px;
  }
  .header--home .nav-bar--home .header__nav--home .nav-list--home {
    display: none;
  }
  .header--home .nav-bar--home .header__nav--home .nav-list--home {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .header__nav--home.active .header--home {
    opacity: 1;
  }
  .banner-group {
    height: 320px;
  }
  .rating__content {
    display: flex;
    overflow-x: auto;
    padding-left: 80px;
    gap: 32px;
  }
  .rating__content::-webkit-scrollbar {
    height: 8px;
    padding-left: 60px;
  }
  .rating__content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .rating__content .item {
    min-width: 200px;
  }
  .rating__content .item .item__content .item__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
  }
  .register .register__title {
    text-align: center;
  }
  .container__services {
    display: flex;
    overflow-x: auto;
    padding-left: 80px;
    gap: 24px;
  }
  .container__services::-webkit-scrollbar {
    height: 8px;
    padding-left: 60px;
  }
  .container__services::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .container__services .services__item {
    min-width: 172px;
    margin-bottom: 8px;
  }
  .container__services .services__item .services__image {
    margin-bottom: 12px;
    width: 60px;
  }
  .container__services .services__item .services__title, .container__services .services__item .services__description {
    font-size: 1rem;
    width: 100%;
  }
  .content .content__info {
    gap: 16px;
  }
  .content .content__info .content__primary .content__image, .content .content__info .content__secondary .content__image {
    height: 100%;
  }
  .content .content__info .content__secondary {
    gap: 16px;
    padding-top: 16px;
  }
  .area-container-card .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .grid__container .grid-container__item, .grid__container .grid-container__item .grid-container__image {
    height: 256px;
  }
  .wrapper .product-list {
    gap: 24px;
    width: 35%;
  }
  .wrapper .product-list .product-list__list {
    padding: 4px, 8px;
  }
  .wrapper .category .category__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .category .category__list .category__item {
    padding: 16px;
  }
  .wrapper .category .category__list .category__item .category__description {
    height: 80px;
  }
  .wrap__container {
    flex-direction: column;
  }
  .content__container .title__container .title__text {
    font-size: 3rem;
    margin-top: 40px;
  }
  .contact-container {
    flex-direction: column;
    gap: 0px;
  }
  .contact-container .contact-container__form {
    margin-bottom: 24px;
  }
  .contact-container .faq-container {
    width: 100%;
  }
  .contact-container .faq-container .faq-container__summary {
    width: 88px;
  }
}
@media (max-width: 600px) {
  .main__header,
  .container__services,
  .content__container,
  .banner-gradient,
  .footer__primary {
    padding: 0 32px;
  }
  .banner-gradient {
    padding: 24px 32px;
  }
  .banner-gradient .banner-gradient__heading {
    font-size: 2rem;
  }
  .header--home {
    height: 664px;
    margin-bottom: 40px;
  }
  .footer .footer__primary {
    padding: 0 16px;
    margin-bottom: 32px;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__primary .footer__links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 24px;
  }
  .footer .footer__primary .footer__links .footer__link-item .footer__title {
    margin-bottom: 16px;
  }
  .footer .footer__primary .footer__links .footer__link-item .footer__list .footer__list-item {
    margin: 4px;
  }
  .footer .footer__primary .footer__social {
    gap: 16px;
    margin-top: 32px;
  }
  .footer .footer__primary .footer__social .footer__social-items .footer__social-list {
    gap: 32px;
  }
  .footer .footer__secondary {
    padding: 16px 0;
  }
  .main___container {
    gap: 40px;
  }
  .title-primary {
    margin-top: 86px;
  }
  .title-primary .title-primary__heading {
    font-size: 3rem;
  }
  .dropdown--standard {
    right: 32px;
  }
  .banner-group {
    height: 320px;
  }
  .register .register__title {
    text-align: center;
  }
  .rating__content {
    padding-left: 16px;
  }
  .rating__content .item .item__raiting-starts {
    padding: 4px;
  }
  .rating__content .item .item-content {
    margin-top: 8px;
  }
  .container__services {
    flex-direction: column;
  }
  .container__services .services__item {
    min-width: 172px;
    margin-bottom: 8px;
  }
  .container__services .services__item .services__image {
    margin-bottom: 12px;
    width: 40px;
  }
  .container__services .services__item .services__title, .container__services .services__item .services__description {
    font-size: 0.875rem;
    width: 100%;
  }
  .content .content__info {
    gap: 16px;
    flex-direction: column;
  }
  .content .content__info .content__primary, .content .content__info .content__secondary {
    max-width: 100%;
  }
  .content .content__info .content__primary .content__image, .content .content__info .content__secondary .content__image {
    height: 100%;
  }
  .content .content__info .content__secondary {
    gap: 16px;
    padding-top: 16px;
    max-width: 100%;
  }
  .products .new-products {
    padding-left: 32px;
  }
  .area-container-card .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__container .grid-container__item, .grid__container .grid-container__item .grid-container__image {
    height: 256px;
  }
  .wrapper .product-list {
    display: none;
  }
  .wrapper .category .category__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .category .category__list .category__item {
    padding: 16px;
  }
  .wrapper .category .category__list .category__item .category__description {
    height: 80px;
  }
}
@media (max-width: 360px) {
  .header--home {
    height: 624px;
    margin-bottom: 40px;
  }
  .title-primary {
    margin-top: 66px;
  }
  .title-primary .title-primary__heading {
    font-size: 2.25rem;
    line-height: 90%;
  }
  .title__container .title__text {
    margin-top: 32px;
    font-size: 1.5rem;
  }
  .menu-categories .menu-categories__buttons {
    padding: 8px 0px;
  }
  .menu-categories .menu-categories__buttons .menu-categories__list {
    gap: 4px;
  }
  .menu-categories .menu-categories__buttons .menu-categories__list .menu-categories__list-item {
    padding: 4px 0;
  }
  .menu-categories .menu-categories__buttons .menu-categories__list .menu-categories__list-item .menu-categories__link {
    font-size: 0.875rem;
  }
  .main__header .header__navbar .nav__container {
    display: none;
  }
  .main__header .header__navbar .header__logo {
    order: 2;
    flex: 1;
  }
  .main__header .header__navbar .header__search {
    flex: 1;
    justify-content: flex-end;
    order: 3;
  }
  .main__header .header__navbar .header__search .search-container {
    display: none;
  }
  .main__header .header__navbar .material-symbols-outlined {
    font-size: 2rem;
  }
  .dropdown--standard {
    right: 16px;
  }
  .banner-group {
    height: 160px;
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__container .grid-container__item, .grid__container .grid-container__item .grid-container__image {
    height: 160px;
  }
  .area-container-card .card-container {
    display: flex;
    flex-direction: column;
  }
  .area-container-card .card-container .card-item__image {
    height: 160px;
  }
  .wrapper .category .category__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .info__container {
    flex-direction: column;
  }
  .info__container .item__container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
