@charset "UTF-8";
/*Importacion de variables*/
/*-------------------Variables-------------*/
/*---Colores---*/
/*---Font Family*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Reset basico*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  color: #25282A;
  font-family: "Roboto", sans-serif;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/*---Font Family*/
/*-------------------Variables-------------*/
/*---Colores---*/
/*---Font Family*/
/*Contenedor Header*/
.main__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 80px;
  /*Barra de navegación*/
}
.main__header .header__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.main__header .header__navbar .nav__container {
  display: flex;
  flex-grow: 1;
  /*Links del Menú */
}
.main__header .header__navbar .nav__container .header__nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  /*lista desordenada*/
}
.main__header .header__navbar .nav__container .header__nav-list li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  /*links*/
}
.main__header .header__navbar .nav__container .header__nav-list li a {
  width: 100%;
  text-decoration: none;
  width: 100%;
}
.main__header .header___logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 240px;
}
.main__header .header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}
.main__header .header__search .search-container {
  display: flex;
  flex-grow: 1;
}
.main__header .header__search .search-container input {
  width: 100%;
  height: 34px;
  border: 2px solid #25282A;
  background-color: transparent;
  border-radius: 100px;
  padding: 0 32px;
  box-sizing: border-box;
}
.main__header .header__search .header__user-items {
  display: flex;
  flex-direction: row;
}

.main___container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.content__container {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  gap: 32px;
}
.content__container .title__container .title__text {
  font-family: "Orelega One", serif;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -2px;
  text-align: center;
  line-height: 90%;
  margin-top: 56px;
}
.content__container .info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.content__container .info__container .item__container {
  flex: 1;
  max-width: 50%;
}
.content__container .info__container .item__container--primary img {
  width: 100%;
  height: 504px;
  border-radius: 32px;
  object-fit: cover;
}
.content__container .info__container .item__container--secondary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  padding-top: 32px;
}
.content__container .info__container .item__container--secondary p {
  line-height: 150%;
}
.content__container .info__container .item__container--secondary a {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid #25282A;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/*---Font Family*/
/*Contenedor Header*/
.banner__container {
  display: inline;
  width: 100%;
  background-color: #FFEB80;
  padding: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 32px;
}
.banner__container .text {
  display: inline-block;
  animation: scroll-text 10s linear infinite;
  text-transform: uppercase;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@im;

/*# sourceMappingURL=style.css.map */
