@charset "UTF-8";
/*Importacion de variables*/
/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Tamaño de fuentes*/
/*Font Size*/
/*Reset basico*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  color: #25282A;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*Contenedor Header estándar*/
.main__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 80px;
  /*Barra de navegación*/
}
.main__header .header__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.main__header .header__navbar .nav__container {
  display: flex;
  flex-grow: 1;
  /*Links del Menú */
}
.main__header .header__navbar .nav__container .header__nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  /*lista desordenada*/
}
.main__header .header__navbar .nav__container .header__nav-list li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  /*links*/
}
.main__header .header__navbar .nav__container .header__nav-list li a {
  width: 100%;
}
.main__header .header___logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 240px;
}
.main__header .header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}
.main__header .header__search .search-container {
  display: flex;
  flex-grow: 1;
}
.main__header .header__search .search-container input {
  width: 100%;
  height: 34px;
  border: 2px solid #25282A;
  background-color: transparent;
  border-radius: 100px;
  padding: 0 32px;
  box-sizing: border-box;
}
.main__header .header__search .header__user-items {
  display: flex;
  flex-direction: row;
}

.header--home {
  background-image: url(../aseets/imagenes/home/background.png);
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 784px;
  margin-bottom: 56px;
}
.header--home .nav-bar--home .nav-list--header a {
  color: #fff;
}
.header--home .header__search .search-container input {
  border: 2px solid #fff;
}
.header--home .header__search .header__user-items span {
  color: #fff;
}

.main___container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.content__container {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title__container .title__text {
  font-family: "Orelega One", serif;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: -2px;
  text-align: center;
  line-height: 90%;
  margin-top: 56px;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.info__container .item__container {
  flex: 1;
  max-width: 50%;
}
.info__container .item__container--primary img {
  width: 100%;
  height: 504px;
  border-radius: 32px;
  object-fit: cover;
}
.info__container .item__container--secondary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  padding-top: 32px;
}
.info__container .item__container--secondary p {
  line-height: 150%;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.grid--container .grid-container__item, .grid--container .grid-container__item .grid-container__image {
  width: 100%;
  height: 340px;
}
.grid--container .grid-container__item .grid-container__image {
  object-fit: cover;
  border-radius: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  width: 100%;
}
.footer .footer__primary {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 80px;
}
.footer .footer__primary .footer__links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 75%;
  text-transform: uppercase;
}
.footer .footer__primary .footer__links .footer__link-item {
  width: 100%;
}
.footer .footer__primary .footer__links .footer__link-item .footer__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 48px;
}
.footer .footer__primary .footer__links .footer__link-item .footer__list .footer__list-item {
  margin: 8px 0;
  list-style: none;
  width: 100%;
}
.footer .footer__primary .footer__links .footer__link-item .footer__list .footer__list-item .footer__link {
  width: 100%;
}
.footer .footer__primary .footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list {
  display: flex;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item {
  list-style: none;
  width: 100%;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item .footer__social-link {
  width: 100%;
}
.footer .footer__primary .footer__social .footer__social-items .footer__social-list .footer__social-list-item i {
  font-size: 32px;
}
.footer .footer__secondary {
  text-align: center;
  border-top: 2px solid #25282A;
  padding: 24px 0;
}

/*-------------------Variables-------------*/
/*---Colores---*/
/* Gris claro */
/* Gris oscuro */
/*Tipografias*/
/*---Font Family---*/
/*Tamaño de fuentes*/
/*Font Size*/
/*Contenedor Header*/
.banner__container {
  display: inline;
  width: 100%;
  background-color: #fff;
  padding: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 32px;
}
.banner__container .text {
  display: inline-block;
  animation: scroll-text 10s linear infinite;
  text-transform: uppercase;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.area-container-card {
  display: flex;
  flex-direction: column;
}
.area-container-card .card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
}
.area-container-card .card-container .card-container__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.area-container-card .card-container .card-container__item .card-item__image {
  position: relative;
  display: flex;
  height: 360px;
}
.area-container-card .card-container .card-container__item .card-item__image .card-item__img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.area-container-card .card-container .card-container__item .card-item__image .card-item__label {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #fff;
  color: #25282A;
  padding: 8px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 400;
}
.area-container-card .card-container .card-container__item .card-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrap__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  overflow: hidden;
  box-sizing: content-box;
}
.wrap__container .item__wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.wrap__container .item__wrap .wrap-item__image {
  position: relative;
  display: inline-block;
  height: 360px;
}
.wrap__container .item__wrap .wrap-item__image .wrap-item__img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}
.wrap__container .item__wrap .wrap-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 32px;
  border-radius: 24px;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(10, 10, 10, 0.973), rgba(102, 102, 102, 0));
}
.wrap__container .item__wrap .wrap-item__content .wrap-item__title {
  color: #fff;
  font-size: 1.25rem;
}
.wrap__container .item__wrap .wrap-item__content .wrap-item__description {
  margin-top: 16px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 120%;
}

.container__button {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  padding-top: 32px;
}
.container__button .btn {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid #25282A;
  border-radius: 50px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.title-container__secondary h2 {
  font-size: 4rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
