@media (max-width: 1240px) {
    //Padding de contenedores
    .main__header,
    .container__services,
    .content__container,
    .banner-gradient,
    .footer__primary {
      padding: 0 120px;
    }
  
    .banner-gradient {
      padding: 52px 120PX;
    }
  
    .footer__primary {
      padding-top: 48px;
      margin-bottom: 72px;
    }
     //header
     .header--home{
      height: 744px;
  }

  //Contenedor de recetas
  .area-container-card {
    .card-container{
        .card-item__image{
            height: 160px;
        }
    } 
  }
  //Contenedor de Informacion 
  .content{
    .content__info{
      .content__primary{
        .content__image{
          height: 100%;
        }
      }
      .content__secondary{
        padding-top: 0px;
      }

    }
  }
  //Contenedor de preguntas frecuentes
  .contact-container{
    gap:16px; 
    .faq-container{
      .faq-container__item{
        .faq-container__summary{
          
        }
      }
    }
  }
}





//
/*
.content__container{
  .info__container{
    .item__container--secondary{
      padding-top: 0px;
      justify-content: space-between;
    }
  }
}
*/


  