@media (max-width: 1240px) {
    //Padding de contenedores
    .main__header,
    .container__services,
    .content__container,
    .banner-gradient,
    .footer__primary {
      padding: 0 120px;
    }
  
    .banner-gradient {
      padding: 52px 120PX;
    }
  
    .footer__primary {
      padding-top: 48px;
      margin-bottom: 72px;
    }
    //---HEADER---
    .header--home{
      height: 744px;        
    }
    .title-primary{
      margin-top: 136px;
      //Font size
      .title-primary__heading{
          font-size:$font-size-xxxxl; 
          line-height: $line-height-large;
      }
    }
    
  /*Contenedor de recetas*/
  .area-container-card {
    .card-container{
        .card-item__image{
            height: 160px;
        }
    } 
  }
  //Contenedor de Informacion 
  
}



  