@media (max-width: 490px){
     //Padding de contenedores
     .main__header,
     .container__services,
     .content__container,
     .footer__primary {
       padding: 0 16px;//
     }
     .banner-gradient {
        padding: 24px 32px;
        .banner-gradient__heading{
          font-size: $font-size-xxl; 
        }
      }
    .header--home{
        height: 624px;
        margin-bottom: 40px;
    }
    
    //HEADER
    .title-primary{
        margin-top: 66px;
        .title-primary__heading{
            font-size:$font-size-xxl-plus; 
            line-height: $line-height-medium; 
        }
    }

    //Titulo Contenedor MENU
    .title__container{
        .title__text{
            margin-top: 32px;
            font-size: $font-size-xl;
        }

    } 
    //Botones
    .menu-categories{
        .menu-categories__buttons--none{
            display: none;
        }
        .menu-categories__buttons{
            padding: 8px 0px;
            
            .menu-categories__list{
                gap:4px; 
                .menu-categories__list-item{
                    padding: 4px 0;
                    .menu-categories__link{
                        font-size: $font-size-s;
                    }
                }
            }
           
        }
    }
    //header
    .main__header{
        .header__navbar{
            .nav__container{
                display: none;
            }
            .header__search{
                justify-content: flex-end;

                .search-container{
                    display: none;
                }
            }
            .material-symbols-outlined {
                font-size: $font-size-xxl; 
            }
        }
    }
    // Icono menu responsive
    .dropdown--standard{ 
        right: 16px;
    }
    //Banners
    .banner-group{
        height: 160px;
    }
     
    //Grilla
     .grid__container{
        grid-template-columns: repeat(2, 1fr); 
        .grid-container__item{
            height: 160px;
        }
    }
    //Contenedor de RECETAS
    .area-container-card {
        .card-container{
            display:flex; 
            flex-direction: column;
            .card-item__image{
                height: 160px;
            }
        } 
       
    }
    //Contenedor MENU
    .wrapper{
        .category{
            .category__list{
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }
    //Info NOSOTROS
    .info__container{
        flex-direction: column;
       .item__container{
        max-width: 100%;
    }
    }

    //Contenedor Contacto 
    .container_content{
     
     flex-direction: column;
     .container{
        flex-direction: column;
     }
    }
    //Botones
    .register{
      
        .register__text{
            text-align: center;
        }
        .register__button{
            width: 100%;
            .btn--1{
                width: 100%;
            }
            
        }
    }
    .container__button{
        .btn--1{
            width: 100%;
        }
    }
  
}

