@media (max-width: 360px){
    .header--home{
        height: 500px;
        margin-bottom: 40px;
    }
    
    //Font Size 
    .title-primary{
        margin-top: 120px;
       .title-primary{
        .title-primary__heading{
            font-size:$font-size-xxl; 
        }
    }
    }
    //Titulo Contenedor MENU
    .title__container{
        .title__text{
            margin-top: 32px;
            font-size: $font-size-xl;
        }

    } 
    //Botones
    .menu-categories{
        .menu-categories__buttons{
            padding: 8px 0px;
            .menu-categories__list{
                gap:4px; 
                .menu-categories__list-item{
                    padding: 4px 0;
                    .menu-categories__link{
                        font-size: $font-size-s;
                    }
                }
            }
           
        }
    }
    //header
    .main__header{
        .header__navbar{
            .menu-responsive{
                order: 1;
                flex: 1;
            }
            .nav__container{
                display: none;
            }
            .header__logo{
               order: 2;
               flex: 1;
            }
            .header__search{
                flex: 1;
                justify-content: flex-end;
                order: 3;
                .search-container{
                    display: none;
                }
            }
            .material-symbols-outlined {
                font-size: $font-size-xxl; 
            }
        }
    }
    //Banners
    .banner-group{
        height: 160px;
    }
     
    //Grilla
     .grid__container{
        grid-template-columns: repeat(2, 1fr); 
        .grid-container__item{
            height: 160px;
        }
    }
    //Contenedor de RECETAS
    .area-container-card {
        .card-container{
            display:flex; 
            flex-direction: column;
            .card-item__image{
                height: 160px;
            }
        } 
       
    }
    //Contenedor MENU
    .wrapper{
        .category{
            .category__list{
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }
    //Info NOSOTROS
    .info__container{
        flex-direction: column;
       .item__container{
        max-width: 100%;
    }
    }
  
}

