@import "../utilities/variables";
@media (max-width: 1100px) {
    //Padding de contenedores
    .main__header,
    .container__services,
    .content__container,
    .banner-gradient,
    .footer__primary {
      padding: 0 96px;
    }
  
    .banner-gradient {
      padding: 52px 96px;
    }
    .footer{
        .footer__primary {
            padding: 0 96px; 
            margin-bottom: 32px;
            flex-direction: column;
            align-items: center;
            .footer__links{
                width: 100%;
            }
            .footer__social{
                gap:16px; 
                margin-top: 32px;
                .footer__social-items{
                    .footer__social-list{
                        gap:32px; 
                    }
                }
            }
        }
    }
    //Buttons
    .menu-categories__buttons{
        .menu-categories__list{
            gap: 4px;
            .menu-categories__list-item{
                padding: 4px 0;
                .menu-categories__link{
                    font-size: $font-size-xs;
                }
            }
        }
    }
    //gap
    .main___container{
        gap:40px; 
    }
    //HEADER
    .title-primary{
        margin-top: 116px;
        .title-primary__heading{
            font-size:$font-size-xxxl-plus; 
            line-height: $line-height-medium; 
        }
    }

    //header
    .main__header{
        .header__navbar{
            justify-content: space-between;
            .nav__container{
                height: 0;
                position: absolute;
                top: 80px; 
                left: 0;
                right: 0; 
                width: 100vw;
                background: #11101e;
                transition: 0.5s;
                overflow: hidden;
                &.active {
                    height: 450px;
                }
                .header__nav-list {
                    display: block;
                    width: fit-content;
                    margin: 80px auto 0 auto;
                    text-align: center;
                    transition: 0.5s;
                    opacity: 0;
            
                    
                }
                
            }
            .nav__container.active & {
                opacity: 1;
            }
            .header__logo{
                justify-content: flex-start;
                flex-grow: 1;
                width: 160px;
            }
            .header__search{
                width: 100%;
                flex-grow: 1;
            }
            .material-symbols-outlined {
                font-size: $font-size-xxl; 
            }
        }
    }
    //dropdown e icono
    .toggle_btn{
        display: block;
        margin-left: 4px;
    }
    .dropdown__menu{
        display: block;
    }
    .header--home{
        height: 704px;
        .nav-bar--home{
            .header__nav--home{
                height: 0;
                position: absolute;
                top: 80px; 
                left: 0;
                right: 0; 
                width: 100vw;
                background: #11101e;
                transition: 0.5s;
                overflow: hidden;
                &.active {
                    height: 450px;
                }
                .nav-list--home{
                    display: none;
                }
                .nav-list--home{
                    display: block;
                    width: fit-content;
                    margin: 80px auto 0 auto;
                    text-align: center;
                    transition: 0.5s;
                    opacity: 0;
                }
                
            }
        }
        .header__nav--home.active & {
            opacity: 1;
        }
    }
    
    //BANNERS
    .banner-group{
        height: 320px;
    }
    .rating__content{
        display: flex;
        overflow-x: auto;
        padding-left: 80px;
        gap: 32px;
        &::-webkit-scrollbar {
            height: 8px;
            padding-left: 60px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        .item{
            min-width: 200px;
            .item__content{
                .item__text{
                    display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: calc(1.5em * 3);
                }
            }
        }
    }
    //Contenedor Register
    .register{
        .register__title{
            text-align: center;
        }
    }
    //SERVICES - Home
    .container__services{
        display: flex;
        overflow-x: auto;
        padding-left: 80px;
        gap: 24px;
        &::-webkit-scrollbar {
            height: 8px;
            padding-left: 60px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        .services__item{
            min-width: 172px;
            margin-bottom: 8px;
            .services__image{
                margin-bottom: 12px;
                width: 60px;
            }
            .services__title,.services__description{
                font-size: $font-size-m;
                width: 100%;
            }
        }
        
    }
    //Contenedor Info
    .content{
        .content__info{
            gap: 16px;
            .content__primary{
                .content__image{
                    height: 100%;

                }
            }
            .content__secondary{
                gap:16px; 
                padding-top: 16px;
            }
        }
    }
    //
    .area-container-card {
        .card-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:32px; 
        } 
       
    }
    //GRILLA 
    .grid__container{
        .grid-container__item{
            height: 256px;
        }
    }
    //Contenedor Menu
    .wrapper{
        .product-list{
            gap:24px; 
            width: 35%; 
            .product-list__list{
                padding: 4px, 8px;
            }
        }
        .category{
            .category__list{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .category__item{
                    padding: 16px;
                    .category__description{
                        height: 80px;
                    }
                }
            }
        }

    }
    
    //
   .wrap__container{
    flex-direction: column;
   }
   //"Sobre Nosotros"
   .content__container{
    .title__container{
        .title__text{
            font-size: $font-size-xxl-plus;
            margin-top: 40px;
        }
    }
   }
  }
   //Contenedor Contacto 
   .container_content{
    flex-direction: column;
    margin-top: 32px;
    padding: 24px 96px;
   }

   //Contenedor preguntas frecuentes
   .faq--content{
    flex-direction: column;
    gap:0px; 
    .faq-container{
        width: 100%;;
    }
   }
  