//Contenedor Principal Footer
.footer{
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    width: 100%;
    background-color: $grey-background;
    //Primer Contenedor del footer
    .footer__primary{
        display: flex;
        padding: 0 144px;
        justify-content: space-between;
        height: 100%;
        margin-bottom: 80px;
        .footer__links{
            display: flex;
            justify-content: space-between;
            gap:8px; 
            width: 75%;
            .footer__link-item{
                width: 100%;
                .footer__title{
                    font-size: $font-size-xl; 
                    font-family: $secondary-font;
                    font-weight: 400;
                    margin-bottom: 48px;
                }
                .footer__list{
                    .footer__list-item{
                        margin: 8px 0; 
                        list-style: none;
                        width: 100%;
                        .footer__link{
                            width: 100%;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .footer__social{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 25%;
            .footer__social-items{
                display: flex;
                justify-content: center;
                width: 100%;
                .footer__social-list{
                    display: flex;
                    gap: 16px;
                    justify-content: center;
                    .footer__social-list-item{
                        list-style: none;
                        width: 100%;
                        .footer__social-link{
                            width: 100%;
                        }
                        i{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
    //Footer Secundario
    .footer__secondary{
        text-align: center;
        border-top: 2px solid $primarycolor;
        padding: 24px 0;
    }
}