.grid__container{
    display: grid;
    grid-template-columns:repeat(3,1fr); 
    gap:16px; 
    .grid-container__item{
        width: 100%;
        height: 336px;
        .grid-container__image{
            @extend .grid-container__item; 
            object-fit: cover;
            border-radius: 32px;
        }
    }
}