@import "../utilities/variables";

/* Contenedor Header estándar */
.main__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 144px;
  background-color: $grey-background;

  /* Barra de navegación */
  .header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 16px 0;
    .menu-responsive{
      display: none;
      i{
        font-size: $font-size-xl; 
        color: $primarycolor; 
      }
    }

    .nav__container {
      display: flex;
      flex-grow: 1;

      /* Links del Menú */
      .header__nav-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;

        /* Lista desordenada */
        .header__nav-list-item {
          flex: 1 1 0;
          list-style: none;
          text-align: center;

          /* Links */
          .header__nav-link {
            display: block;
            position: relative;
            width: 100%;
            text-decoration: none;

            /* Transiciones */
            &:after {
              content: "";
              position: absolute;
              background-color: $primarycolor;
              height: 2px;
              width: 0;
              left: 0;
              bottom: -10px;
              transition: width 0.3s;
            }

            &:hover:after {
              width: 100%;
            }
            
          }
        }
      }
    }
  }

  /* Contenedor logo */
  .header__logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 240px;
  }

  /* Contenedor usuario y barra de búsqueda */
  .header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 16px;

    /* Barra de búsqueda */
    .search-container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      height: 34px;
      border:$border-primary;  // Crear una variable para border
      border-radius: 100px;
      padding: 4px 24px;
      box-sizing: border-box;
      gap: 16px; 
      i{
        font-size: $font-size-l; 
      }
      input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none; 
        color: $primarycolor;
        font-size: $font-size-m;
      }
      input:focus{
        outline: none;
      }
      input::placeholder {
        font-family: $primary-font;
        color:$gray-dark; 
      }
      
    }

    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items {
      display: flex;
      flex-direction: row;
    }
  }
}

/* Header HOME, archivo index.html */
.header--home {
  background-image: url(../aseets/imagenes/home/background.png);
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 784px;
  margin-bottom: 56px;
  transition: background-color 0.3s ease; // Añadir transición para el fondo

  .nav-bar--home {
    .menu--responsive{
      display: none;
      i{
        font-size: $font-size-l;
        color: $secondarycolor;
      }
    }
    .nav-list--home {
      .nav-link--home {
        color: $secondarycolor;
      }
    }
  }

  .header__search {
       
    .search-container {
      border: 2px solid $secondarycolor;
      border-radius: 50px;
      display: flex;
      i{
        font-size: $font-size-l; 
        color:$secondarycolor; 
      }
      input {

        color: $secondarycolor; 
        font-size: $font-size-m;
      }
      input:focus{
        outline: none;
      }
      input::placeholder {
        font-family: $primary-font;
        color:$secondarycolor; 
      }
    }

    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items span {
      color: $secondarycolor;
    }
  }
}