@import "../utilities/variables";

/* Contenedor Header estándar */
.main__header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 144px;
  background-color: $grey-background;
  
  /* Barra de navegación */
  .header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 16px 0;
    position: relative;
   
    
    .nav__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      /* Links del Menú */
      .header__nav-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;

        /* Lista desordenada */
        .header__nav-list-item {
          flex: 1 1 0;
          list-style: none;
          text-align: center;

          /* Links */
          .header__nav-link {
            display: block;
            position: relative;
            width: 100%;
            text-decoration: none;
            color: $primarycolor;
            
            /* Transiciones */
            &:after {
              content: "";
              position: absolute;
              background-color: $primarycolor;
              height: 2px;
              width: 0;
              left: 0;
              bottom: -10px;
              transition: width 0.3s;
            }

            &:hover:after {
              width: 100%;
            }
            
          }
        }
      }
    }
   
  }

  /* Contenedor logo */
  .header__logo {
    display: flex;
    justify-content: center;
    margin: 0 24px ;
  }

  /* Contenedor usuario y barra de búsqueda */
  .header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
 

    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items {
      display: flex;
      flex-direction: row;
      .material-symbols-outlined{
        color: $primarycolor;
      }
     
    }
  }
}

/* Header HOME, archivo index.html */
.header--home {
  background-image: url(../aseets/imagenes/home/background.jpg);
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 784px;
  margin-bottom: 56px;

  .nav-bar--home {
    .toggle--home{
      color: $secondarycolor;
    }
    //Estilos de la barra de Navegacion del header HOME
    .header__nav--home{
      
      .nav-list--home{
        .nav-list-item--home{
         
          .nav-link--home{
            color: $secondarycolor;
             /* Transiciones */
             &:after {
              content: "";
              background-color: $secondarycolor; 
            }
          }
        }
       
      }
    }
  }

  .header__search {
       
    .search-container {
      border: $border-secondary; 
      border-radius: 50px;
      display: flex;
      i{
        font-size: $font-size-l; 
        color:$secondarycolor; 
      }
      input {

        color: $secondarycolor; 
        font-size: $font-size-m;
      }
      input:focus{
        outline: none;
      }
      input::placeholder {
        font-family: $primary-font;
        color:$secondarycolor; 
      }
    }
    .header__user-icon{
      .material-symbols-outlined{
        color: $secondarycolor;
      }
    }
    
    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items span {
      color: $secondarycolor;
    }
  }
}