@import "../utilities/variables";

/* Contenedor Header estándar */
.main__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0 80px;

  /* Barra de navegación */
  .header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .nav__container {
      display: flex;
      flex-grow: 1;

      /* Links del Menú */
      .header__nav-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;

        /* Lista desordenada */
        .header__nav-list-item {
          flex: 1 1 0;
          list-style: none;
          text-align: center;

          /* Links */
          .header__nav-link {
            display: block;
            position: relative;
            width: 100%;
            text-decoration: none;

            /* Transiciones */
            &:after {
              content: "";
              position: absolute;
              background-color: $primarycolor;
              height: 2px;
              width: 0;
              left: 0;
              bottom: -10px;
              transition: width 0.3s;
            }

            &:hover:after {
              width: 100%;
            }
            
          }
        }
      }
    }
  }

  /* Contenedor logo */
  .header__logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 240px;
  }

  /* Contenedor usuario y barra de búsqueda */
  .header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 16px;

    /* Barra de búsqueda */
    .search-container {
      display: flex;
      flex-grow: 1;

      input {
        width: 100%;
        height: 34px;
        border: 2px solid $primarycolor; // Crear una variable para border
        background-color: transparent;
        border-radius: 100px;
        padding: 0 32px;
        box-sizing: border-box;
      }
    }

    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items {
      display: flex;
      flex-direction: row;
    }
  }
}

/* Header HOME, archivo index.html */
.header--home {
  background-image: url(/aseets/imagenes/home/background.png);
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 784px;
  margin-bottom: 56px;
  transition: background-color 0.3s ease; // Añadir transición para el fondo

  .nav-bar--home {
    .nav-list--home {
      .nav-link--home {
        color: $secondarycolor;
      }
    }
  }

  .header__search {
    .search-container {
      input {
        border: 2px solid $secondarycolor; // Crear una variable para border
      }
    }

    /* Contenedor iconos de usuario y carrito de compras */
    .header__user-items span {
      color: $secondarycolor;
    }
  }
}