//Estilos del contenedor main

.main___container{
    display: flex;
    flex-direction: column;
    gap: 56px;
    background-color: $grey-background;
}

/*Estilo estandar de contenedores*/
.content__container{
    padding: 0 144px;
    display: flex;
    flex-direction: column;
    gap:32px; 
}