.wrapper{
    display: flex;
    .product-list{
        display: flex;
        flex-direction: column;
        width: 25%;
        gap: 32px;
        .product-list__item{
            padding-right: 16px;
           .product-list__title{
            font-size: $font-size-m;
            text-transform: uppercase;
            margin-bottom: 16px;
           }
           .product-list__subtitle{
            font-size: $font-size-m;
            margin: 8px 0px;
           }
           .product-list__list{
            list-style: none;
            cursor: pointer;
            padding: 4px 16px;
            .product-list__list-item{
                color: $gray-dark;
                padding: 2px 0px;
            }
            .product-list__item:hover{
                color: $primarycolor;
            }
           }
           
        }
    }
    /**/
    .menu-categories{
        width:100% ;
        gap: 24px; 
        .category__list{
            margin: 32px 0;
            border-radius: 32px;
            display: grid;
            grid-template-columns:repeat(3,1fr); 
            gap:16px; 
            .category__item{
                display: flex;
                flex-direction: column;
                justify-content:space-between; 
                gap:16px; 
                border-radius: 16px;
                background-color: $secondarycolor; 
                align-items: center;
                padding: 24px; 
                .category__image{
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    overflow: hidden;
                    box-sizing: border-box;
                    height: 180px;
                    width: 180px;
                    img{
                        height:100%; 
                        width: 100%;
                        object-fit: contain;   
                    }
                }
                .category__details{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 16px;
                    .catagory__detailes-group{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap:8px; 
                        width: 100%;
                        .category__details-title{
                            font-size: $font-size-m;
                        }
                        .category__details-price{
                            font-size: $font-size-m;
                            font-weight: 600;
                        }
                    }
                    .category__description{ //p
                        color:$gray-dark; 
                        font-size:$font-size-m; 
                        line-height: 120%;
                        min-height: 96px;
                    }

                }
                
            }
        }
    }
}
