.title__container {
    .title__text {
        font-family: $secondary-font;
        font-size: $font-size-xxxl; 
        font-weight: 400;
        letter-spacing: -2px;
        text-align: center;
        line-height: 90%;
        margin-top: 56px;
    }
}

.info__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;

    .item__container {
        flex: 1;
        max-width: 50%;

        &--primary {
            img {
                width: 100%;
                height: 504px;
                border-radius: 32px;
                object-fit: cover;
            }
        }

        &--secondary {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 32px;
            padding-top: 32px;

            p {
                line-height: 150%;
            }
        }
    }
}

