
.container__button{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    gap:32px; 
    .btn{
        display: inline-flex; 
        width: auto;
        align-items: center;
        justify-content: space-between; 
        box-sizing: border-box;
        padding: 8px 16px; 
        background-color: transparent;
        border-radius: 50px;
        font-size: $font-size-l;
        cursor: pointer; 
        text-align: center;
        border: 2px solid $primarycolor;
    }
    .btn--1{
        border: 2px solid $primarycolor; 
    }
    
    .btn--2{
        color: $secondarycolor;
        border: 2px solid $secondarycolor;
        &:hover{
            background-color: $secondarycolor;
            color: $primarycolor; 
        }
    }
    //Card
    .btn--3{
        @extend .btn--1; 
        font-size:$font-size-m; 
        justify-content: center;
        text-transform: uppercase;
    }
    //Register buton
    .btn--4{
        @extend .btn; 
        display: flex; 
        justify-content: center;
        width: 90%;
        padding: 16px 24px;
        gap:16px; 
        font-size: $font-size-l;
        letter-spacing: -1px;
        font-weight: 600; 
        text-transform: uppercase;
    }
}
//
.menu-categories__buttons{

    .menu-categories__list{
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 16px;
        .menu-categories__list-item{
            width: 100%;
            text-align: center;
            list-style: none;
            border:$border-primary; 
            border-radius: 100px;
            padding: 8px 0;
            .menu-categories__link{
                text-decoration: none;
                text-transform: uppercase;
                font-size: $font-size-l; 
            }
        }
    }
}

.button__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    .category__add{
        width: 100%;
        padding: 6px 0;
        background-color: transparent;
        border: 2px solid $primarycolor;
        border-radius: 50px;
        font-size: $font-size-s;
        cursor: pointer;
        text-transform: uppercase;
    }
    .category__ad--count{
        width: 100%;
    }
    .category__ad--item{
        width: 32px;
    }
    .category__add:hover{
        background-color: $primarycolor; 
        color: $secondarycolor; 
    }
    .category__like{
        cursor: pointer;
        width: 10%; 
        border: none; 
        background-color: transparent; 
    }
}


.container__button--secondary{
    padding-top: 16px;
}