 /*Icono menu responsive*/
 .menu-responsive{
    display: flex;
    height: 116px;
    align-items: center; 
 }
      .toggle_btn{
        color: $primarycolor; 
        font-size:1.5rem;
        cursor: pointer; 
        display: none;
        max-width:22px;
      }
      .dropdown__menu{ 
        display: none;
        position: absolute; 
        right: 0px; 
        top: 72px; 
        height: 0px;
        width: 300px; 
        overflow: hidden;
        border-radius: 10px; 
        background-color:$secondarycolor; 
        transition: height 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);      
        .dropdown__menu-list{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 32px;
            .dropdown__menu-list-item{
                list-style: none;
                text-align: center;
                .dropdown__menu-link{
                    color: $primarycolor; 
                    text-transform: uppercase;
                }
            }
        }
    }
    .dropdown__menu.open{
        height: 240px;
    
    }
    .dropdown--standard{
        top:116px; 
        right: 96px;
    }