.contact-container{
    display: flex;
    flex-direction: row;
    gap: 32px; 
    .contact-container__form{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%; //
        .form__input-group{
            display: flex;
            flex-direction: column;
            gap: 16px; 
            .form__input{
                border: none; 
                border-radius: 0px;
                border-bottom:$border-primary; 
                padding: 8px;
                background-color: transparent;
            }
            .form__input:focus{
                outline: none;
            }
            .form__textarea{
                @extend .form__input; 
                padding: 8px ;
                min-width: 100%; 
                resize:vertical; 
                font-family: $primary-font; 
            }
            .form__textarea:focus{
                outline: none;
            }
            .form__select{
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: $border-primary; 
                padding: 8px;
                color: $primarycolor; 
                margin-top: 16px;
            }
            .form__select:focus{
                outline: none;
            }
        }
        
    }
}
