.title-primary{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:112px; 
    gap: 40px;
    .title-primary__heading{
        font-size:$font-size-xxxxl-plus; 
        font-family: $secondary-font; 
        color: $secondarycolor; 
        line-height: $line-height-extra-large; 
        width: 90%;
        font-weight: 400;
        text-align: right;
    }
}

//
.title__container{
    .title__text{
        font-size: $font-size-xxxl; 
    }
}

.title-container__secondary{
    h2{
        font-size: $font-size-xxxl; 
        text-align: center; 
    }

}

.title-container__third{
    display:flex;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    a{
        cursor: pointer;
    }
    .title-container__title{
        font-size: $font-size-xxl-plus; 
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        padding: 0 8px;
        color: $primarycolor;
    }
    .title-container__line{
        border: none; 
        width: 100%;
        height: 2px; 
        background-color:$primarycolor; 
    }
}
//
.category__title{
    border-top: 2px solid $primarycolor; 
    border-bottom: 2px solid $primarycolor; 
    padding: 16px;
    .category__title-text{
        font-size:$font-size-xl;
        text-transform: uppercase;
    }
}