/*Importacion de variables*/
@import "../utilities/variables"; 

/*Reset basico*/
*{
    margin: 0px;
    padding: 0px;
    color: $primarycolor;
    font-family: $primary-font;
}
//receteo Bootstrap

a{
    text-decoration: none;
}
