@import "../utilities/variables"; 
/*Contenedor Header*/
.banner__container{
    display: inline; 
    width: 100%;
    background-color: $fourth-color;
    padding: 24px 0;
    overflow: hidden; 
    white-space: nowrap; 
    margin-top:32px; 
    .text {
        display: inline-block;
        animation: scroll-text 10s linear infinite;
        text-transform: uppercase;
    }
    //Autoplay de texto
    @keyframes scroll-text {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
    }
}
/*Banner Galeria de Imagenes*/
.banner-group{
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 464px;
  justify-content: space-between;
  .banner-group__item{
    flex: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    .banner-group__image{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
/*Banner Gradiente*/
.banner-gradient{
    height: auto;
    text-align: left;
    padding: 80px ;
    background: rgb(255,235,128);
    background: linear-gradient(90deg, rgba(255,235,128,1) 0%, rgba(247,183,144,1) 66%, rgba(242,153,153,1) 100%);
    .banner-gradient__heading{
      font-size: $font-size-xxl; 
      font-family:$secondary-font; 
      font-weight: 400;
      line-height: 90%;
      padding: 32px 0;
    }
}
